<form method="POST" action="{% url 'delete_file'%}">
	{% csrf_token %}
	<input type="hidden" name="file" value="{{record.id}}" />
	<input type="hidden" name="pk" value="{{pk}}" />
	<button
		type="button"
		class="btn btn-outline-primary btn-sm"
		onclick="location.href='{% url 'view_graph' record.id %}'"
	>
		<i class="bi bi-graph-up"></i>
	</button>
	<button type="submit" class="btn btn-outline-danger btn-sm">
		<i class="bi bi-trash"></i>
	</button>
</form>

<script type="text/javascript">
    $(document).bind("contextmenu",function(e) {
 e.preventDefault();
});


</script>
